php_flag output_buffering On
php_flag display_errors off
Options -Indexes
RewriteEngine on
RewriteRule ^(.*)$ web/$1 [L]
<IfModule mod_headers.c>
Header always set Content-Security-Policy: upgrade-insecure-requests
Header set Access-Control-Max-Age 1728000
Header set Access-Control-Allow-Origin: "*"
Header set Access-Control-Allow-Credentials: "true"
Header set Access-Control-Allow-Methods: "GET,HEAD,OPTIONS,POST,PUT"
Header set Access-Control-Allow-Headers: "Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers"
</IfModule>
